:root {
  --purple: #7b506f;
  --violet: #dd99bb;
  --beige: #ead7d1;
  --grey: #dbcdc6;
  --valid: #4f8a10;
  --valid-bg: #dff2bf;
  --invalid: #d8000c;
  --invalid-bg: #ffbaba;
}

@font-face {
  font-family: "Virgil";
  src: url("./Virgil.woff2") format("woff2");
}

* {
  font-family: "Virgil";
}

html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--purple);
  display: grid;
  width: 100vw;
  height: 100vh;
}

form {
  width: 90%;
  place-self: center;
  justify-content: center;
  background-color: var(--beige);
  border: 4px solid black;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid:
    "email email" 2fr
    "country zip" 2fr
    "pass passconf" 2fr
    "submit submit" 1fr
    / 48% 48%;
  gap: 1rem;
  box-shadow: 0px 0px 4px black;
}

.email-container {
  grid-area: email;
}

.country-container {
  grid-area: country;
}

.zip-container {
  grid-area: zip;
}

.password-container {
  grid-area: pass;
}

.password-confirmation-container {
  grid-area: passconf;
}

.submit-button {
  grid-area: submit;
  place-self: center;
  padding: 0.5rem 1rem;
  background-color: var(--purple);
  border: 4px solid black;
  border-radius: 8px;
  font-size: 2rem;
  box-shadow: 0px 4px 2px 0px black;
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    /* transform: scale(0.9); */
    transform: translateY(2px);
    box-shadow: 0px 2px 2px 0px black;
  }

  &:active {
    /* transform: scale(0.8); */
    transform: translateY(4px);
    box-shadow: 0px 0px 2px 0px black;
  }
}

.input-container {
  background-color: var(--violet);
  border: 4px solid black;
  border-radius: 8px;
  display: grid;
  grid:
    "header input"
    "header instr"
    / auto 1fr;
  padding: 1rem;
  gap: 0.8rem;
  box-shadow: 0px 0px 4px black;
}

.container-header {
  grid-area: header;
  place-self: start;
  background-color: var(--grey);
  margin: 0;
  padding: 1rem 1.5rem;
  border: 4px solid black;
  border-radius: 8px;
  font-size: 1.2rem;
  box-shadow: 0px 0px 4px black;
}

.container-input,
.instructions-container {
  background-color: white;
}

.container-input {
  grid-area: input;
  border: 4px solid black;
  border-radius: 8px;
  font-size: 1rem;
  outline: 0;
  box-shadow: 0px 0px 4px black;

  &:valid {
    background-color: var(--valid-bg);
  }

  &:invalid {
    background-color: var(--invalid-bg);
  }
}

.instructions-container {
  grid-area: instr;
  place-self: center;
  width: calc(100% - 8px);
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  min-height: 2rem;

  & h2 {
    place-self: center start;
    font-size: 1.2rem;
    margin: 0 0 0 0.5rem;

    &.valid {
      color: var(--valid);
    }

    &.invalid {
      color: var(--invalid);
    }
  }

  & .instructions {
    padding: 0.2rem;
    place-self: center start;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
  }
}

.successful-creation {
  padding: 0;
  border: 0;
  border-radius: 8px;
}

.creation-message-container {
  display: grid;
  place-items: center;
  border: 4px solid black;
  border-radius: 8px;
  background-color: var(--violet);
  padding: 1rem 2rem;
}
